@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

*{
    box-sizing: border-box;
}
body{
    margin: 0;
    font-family: 'Roboto', sans-serif;
}

.card img{
    width: 2rem;
}

.avatar{
   width: 80px; 
}
.avatar-big{
    width: 120px;
}

.container{
    display: grid;
    grid-template-rows:1fr 2fr 2fr ;
    grid-template-columns: 1.2fr 5fr 2fr;
    background-color: #d1d5db;
}

.header{
    background-color: #fafafa;
    grid-row: 1;
    grid-column: 2/4;
    display: grid;
    grid-template-rows: 1fr 1fr;
    grid-template-columns: 2fr 1fr;
    box-shadow: 0 2px 16px #d6d3d1;
    padding: 0 20px;
}

.search-bar{
    display: flex;
    align-items: center;
}

input[type="search"]{
    background-color: #d4d4d4;
    border: none;
    border-radius: 15px;
    flex: 1;
    padding: 10px 0;
}

.search-icon{
    width: 40px;
    margin-right: 10px;
}

.notif-icon{
    width: 30px;
}

.right-header{
    display: flex;
    align-items: center;
    justify-content: flex-end;
    gap: 10px;
}

.profile{
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

.greeting{
    display: block;
    font-size: 1rem;
}

.menu{
    padding: 0;
    margin: 0;
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.menu>li{
    list-style: none;
    color: white;
    background-color: #3b82f6;
    padding: 10px 30px;
    border-radius: 20px;
}

.sidebar{
    background-color: #3b82f6;
    grid-row: 1/-1;
    grid-column: 1;
    display: grid;
    grid-template-rows: 1fr 4fr 2fr 4fr;
    grid-template-columns: 1fr;
    padding-left: 10px;
}

.projects{
    grid-row: 2/4;
    grid-column: 2;
    margin:20px;
}

.projects > h1,.announcement >h1,.trending>h1{
    font-size: 1.5rem;
    padding: 5px 0;
    margin: 20px 0;
}

.cards-container{
    display: grid;
    grid-template-rows: 1fr 1fr 1fr;
    grid-template-columns: repeat(2,1fr);
    gap: 15px;
}

.card{
    height: 300px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    padding: 40px;
    border-left: 8px solid #facc15;
    border-radius: 8px;
    background-color: #fafafa;
    box-shadow: 0 4px 4px rgba(0,0,0,.6);
}

.card>h1,.card>p{
    margin: 0;
}

.card >h1{
    font-size: 1.5rem;
}

.card >p,.announcement p{
    color: #374151;
}

.icons{
    align-self: flex-end;
    margin-top: auto;
}

.announcement{
    grid-row:2;
    grid-column:3;
    margin: 20px;
}

.announcement-container{
    background-color: #fafafa;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 20px;
    border-radius: 8px;
}

.announcement h1{
    font-size:1.3rem;
}

.announcement>div:nth-child(2){
    border-top: 2px solid #d1d5db;
    border-bottom: 2px solid #d1d5db;
}

.sidebar-title{
    color: white;
}

.sidebar-header{
    grid-row: 1 ;
    grid-column: 1;
    display: flex;
    gap: 1rem;
    align-items: center;
}
.sidebar-icon{
    flex: 0 0 auto;
}

.menu1{
    grid-row: 2;
    grid-column: 1;
}

.sidebar ul{
    list-style: none;
    margin: 0;
    padding: 0 0 0 10px;
    color: white;
    font-size: 1.5rem;
    font-weight: bold;
}

.menu2{
    grid-row: 3;
    grid-column: 1;
}

.sidebar-header ~ div img{
    width: 30px;
}

.sidebar li{
    display: flex;
    align-items: center;
    gap: 10px;
    margin: 30px 0;
}

.trending{
    grid-row:3;
    grid-column: 3;
    margin: 20px;
}

.trending>ul{
    list-style: none;
    background-color: #fafafa;
    padding: 20px;
}

.trending span{
    display: block;
    color: black;
}

.trending li{
    display: flex;
    gap: 10px;
    align-items: center;
    color: #374151;
}